.priority-highest>path{
    color: #941100cc
}

.priority-high>path {
    color: #FF9300;
}

.priority-normal>path {
    color: #008f00ac;
}

.priority-low>path {
    color: #005393ac;
}

.priority-lowest>path {
    color: #929292;
}