@import '../../styles/variables.scss';

input[type="button"] {
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12pt;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.2);
    }

    &:active {
        box-shadow: none;
    }
}

.ok {
    background-color: $green;

    &:active {
        background-color: $green-dark;
    }
}

.danger {
    background-color: $danger;

    &:active {
        background-color: $danger-dark;
    }
}